#!/bin/bash

# set environmental variables
export MAILPASSWORD=mailpassword
export HOMENAME=home000
export APPFILEPATH={{ log_file_path }}

# run python script
{{ application_path }}/venv/bin/python {{ application_path }}/{{ mail_cron_python_file }}
